body {
  /*background-color: #FFF3E2;*/
  background-color: #C08B87;
  box-sizing: border-box;
  margin: 0;
}

.polina {
  font-family: Polina, Arial, Helvetica, sans-serif;
}

.polina_front {
  font-family: 'PolinaFront1', Arial, Helvetica, sans-serif;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 10px 10px;
}

.main-header {
  color: #9B7546;
  font-size: 48px;
  flex: 1 1 auto;
}

.main-header-mobile {
  color: #9B7546;
  font-size: 20px;
  flex: 1 1 auto;
  display: none;
}

.score_house {
  flex: 0 1 auto;
  font-size: 25px;
}

#container {
  background-color: #EFDABF;
  width: 960px;
  margin: 0 auto;
}

.image-house-container {
  margin: 0 auto;
  height: 559;
  width: 768;
  background-image: url("images/frame6_768.jpg");
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-house {
  height: 300px;
  text-align: center;
}

.choice-link {
  color: white; 
  text-align: center; 
  margin: 15px; 
  padding: 20px;
  display: block;
  text-decoration: none;
  font-size: 35px;
}

.buttons-house {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.button-house {
  width: 50%;
  flex: 1 1 auto;
}

@media (max-width: 1024px) {
  body {
    margin: 0;
  }

  #container {
    width: 100%;
    margin: 0;
  }

  .image-house-container {
    height: 559px;
    width: 768px;
    background-image: url("images/frame6_768.jpg");
  }

  .image-house {
    height: 300px;
  }

  .main-header {
    font-size: 28px;
  }
}

/* laptop situation */
@media (min-width: 768px) and (max-height: 750px) {
  .image-house-container {
    height: 437px;
    width: 600px;
    background-image: url("images/frame6_600.jpg");
  }

  .image-house {
    height: 234px;
  }
}

/* mobile <= 768px OR a laptop situation where they shrink the height <= 628px */
@media (max-width: 768px), (min-width: 768px) and (max-height: 628px) {
  .image-house-container {
    height: 301px;
    width: 414px;
    background-image: url("images/frame6_414.jpg");
  }

  .image-house {
    height: 160px;
  }

  .choice-link {
    font-size: 18px;
  }

  .main-header {
    display: none;
  }

  .main-header-mobile {
    display: flex;
    flex-direction: column;
  }

  .main-header-mobile-primary {
    flex: 1 1 auto; 
  }

  .main-header-mobile-secondary {
    flex: 1 1 auto;
    font-size: 12px;
  }

  .score_house {
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  .image-house-container {
    height: 273px;
    width: 375px;
    background-image: url("images/frame6_375.jpg");
  }

  .image-house {
    height: 148px;
  }
}

@media (max-width: 360px) {
  .image-house-container {
    height: 233px;
    width: 320px;
    background-image: url("images/frame6_320.jpg");
  }

  .image-house {
    height: 125px;
  }

  .buttons-house {
    flex-direction: column;
  }

  .button-house {
    width: 100%;
    flex: 1 1 auto;
  }

  .choice-link {
    margin: 5px; 
    padding: 7px;
  }
}








