body {
  background-color: pink;
  box-sizing: border-box;
}

.polina {
  font-family: Polina, Arial, Helvetica, sans-serif;
}

.polina_front {
  font-family: 'PolinaFront1', Arial, Helvetica, sans-serif;
}

.main-header {
  color: black;
  font-size: 48px;
}

#container {
  box-sizing: border-box;
  background-color: white;
  width: 960px; 
  margin: 0 auto;
}

.image-house-container {
  margin: 0 auto;
  height: 684px;
  width: 940px;
  /*padding: 25px;*/
  background-image: url("images/frame6.jpg");
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-house {
  height: 375px;
  text-align: center;
}

.choice-link {
  color: white; 
  text-align: center; 
  margin: 15px; 
  padding: 20px;
  display: block;
  text-decoration: none;
  font-size: 35px;
}

@media (max-width: 768px) { 
  #container {
    width: 100%;
  }

  .image-house {
    height: 200px;
  }

  .main-header {
    font-size: 28px;
  }

  .choice-link {
    font-size: 15px;
  }
}
